<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="HR, HR Consultancy, Talent, Human Resources, Outsourced HR, Outsourced Human Resources" />
    <title>@ViewBag.Title - HR & Talent Specialists - Hurst-Smith Consulting</title>
    <link rel="shortcut icon" href="~/Content/Images/homepage_logobackground_mobile_1x.jpg" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CustomCss", false)
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "0447e064-7b90-4dd5-afb2-dcfbff007a86"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="container">
        <div class="row header-image">
            <div class="col-xs-12 vcenter">
                <div class="row navbar navbar-inverse">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-4">
                        <a class="navbar-brand" href="/"><img src="~/Content/Images/Logo-HS.svg" alt="Hurst-Smith Consulting HR & Talent Specialists" /></a>
                    </div>
                    <div class="col-xs-6">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Services", "Index", "Services")</li>
                                <li>@Html.ActionLink("Our Story", "Index", "OurStory")</li>
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            @RenderSection("headerImage")
        </div>
        @RenderBody()
        <div class="row footer-links">
            <div class="col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-3" onclick="location.href='http://www.iris-worldwide.com/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="Iris" src="~/Content/Images/Iris.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                    <div class="col-xs-3" onclick="location.href='http://www.wdmp.co.uk/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="WDMP" src="~/Content/Images/Wdpm.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                    <div class="col-xs-3" onclick="location.href='https://nakedideas.com/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="Naked Ideas" src="~/Content/Images/Naked Ideas logo_Greyscale.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                    <div class="col-xs-3" onclick="location.href='http://stottandmay.com/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="Stott and May" src="~/Content/Images/StottAndMay.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-3" onclick="location.href='http://we-three.co.uk/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="We Three" src="~/Content/Images/we3-homepage.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                    <div class="col-xs-3" onclick="location.href='http://www.worldofinitials.co.uk/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12" style="vertical-align: middle">
                                <img class="img-responsive center-block" alt="Initials" src="~/Content/Images/Initials.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                    <div class="col-xs-3" onclick="location.href='http://www.fosburymarketing.com/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="Fosbury Marketing" src="~/Content/Images/Fosbury.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                    <div class="col-xs-3" onclick="location.href='http://www.qcg.co.uk/'">
                        <div class="row">
                            <div class="col-xs-12"><br /></div>
                            <div class="col-xs-12">
                                <img class="img-responsive center-block" alt="QCG" src="~/Content/Images/QCG.png" />
                            </div>
                            <div class="col-xs-12"><br /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-container">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        @Html.ActionLink("Contact Us", "Index", "Contact")
                        @Html.ActionLink("Services", "Index", "Services")
                    </div>
                    <div class="col-xs-12 col-lg-6 pull-right-lg">
                        <a href="https://twitter.com/HSConsu1tancy"><img onclick="locatiion.href='https://twitter.com/HSConsu1tancy'" src="~/Content/Images/Twitter_logo_white.png" alt="Hurst-Smith Consulting on Twitter" /></a>
                        @*<a href="https://twitter.com/HSConsu1tancy"><img src="~/Content/Images/Instagram_simple_icon.svg" alt="Hurst-Smith Consulting on Instagram" /></a>*@
                        <a href="https://uk.pinterest.com/hurst1569/"><img onclick="locatiion.href='https://uk.pinterest.com/hurst1569/'" src="~/Content/Images/Pinterest.svg" alt="Hurst-Smith Consulting on Pintrest" /></a>
                        <a href="https://www.linkedin.com/in/niki-hurst-smith-4ba8b410"><img onclick="locatiion.href='https://www.linkedin.com/in/niki-hurst-smith-4ba8b410'" src="~/Content/Images/linkedin.svg" alt="Hurst-Smith Consulting on LinkedIn" /></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><br /><hr /></div>
                    <div class="col-xs-12 col-md-6 copyright">© Copyright 2015 - @DateTime.Now.Year Hurst-Smith Consulting, HR & Talent Specialists</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 pull-right-lg copyright">Designed by: Naked Ideas</div>
                </div>
            </div>

            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
